{% extends 'base.html.twig' %}

{% block title %}Edit Reading{% endblock %}

{% block body %}
    <h1>Edit Reading</h1>

    {{ include('reading/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reading_index') }}">back to list</a>

    {{ include('reading/_delete_form.html.twig') }}
{% endblock %}
