{% extends 'base.html.twig' %}

{% block title %}New Reading{% endblock %}

{% block body %}
    <h1>Create new Reading</h1>

    {{ include('reading/_form.html.twig') }}

    <a href="{{ path('app_reading_index') }}">back to list</a>
{% endblock %}
